body {
    background-color: #121313;
    color: #858585;
}

.intro {
    display:flex;
    justify-content: center;
    align-self:center;
    font-family:'Courier New', Courier, monospace;
    font-size:70px;
    font-weight:bolder;
    text-decoration:underline;
}


.rpsbuttons {
    display:flex;
    justify-content:center;
    flex-direction:row;

}

.rpsbuttons button {
    background-color:#8d8d8d;
        width:300px;
        height:100px;
        margin:50px;
        font-family:Impact;
        font-size: 50px;
        font-weight:bolder;
}

.inputh1 {
    display:flex;
    align-items:center;
    justify-content:center;
}

label {
    display:flex;
    align-items:center;
    justify-content:center;
}