html, body {
    background-color: #000222;
    height:100%;
    overflow:auto;
    color:slategray;
    font-family:'Courier New', Courier, monospace;
}

.intro {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: column;
    text-align: center;
    
}

.intro h1 {
    text-decoration:underline;
}